ruff==0.15.20
pandas==2.2.2
seaborn==0.13.2
langgraph==0.5.3
langchain-openai==0.3.28
langchain-core==0.3.68
langchain==0.3.26
langchain-chroma==0.2.3
langchain-community==0.3.27
langchain-text-splitters==0.3.8
tweepy==4.15.0
requests==2.32.3
python-dotenv==1.2.2
newsapi-python
pytest==9.1.1
xdk
jwcrypto
chromadb==0.5.23
GitPython==3.1.43
ragas==0.2.15
nest-asyncio==1.6.0
